{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href=" {% static 'asset/css/bootstrap.min.css '%}" rel="stylesheet" />
    <title>
      {% block title %}
      base
       {% endblock title %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{%url 'home'%}">Ethiopia's Region  Managment system</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href= {% url "create_region" %}
              >Add region<span class="sr-only">(current)</span></a
            >
          </li>
          {% if user.is_authenticated  %}
          <li class="nav-item active">
            <a class="nav-link active" href="{% url 'logout'%}"
              >Logout<span class="sr-only">(current)</span></a
            >
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login'%}"
              >Login<span class="sr-only">(current)</span></a
            >
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user_register' %}"
              >SignUp<span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %}
         
        </ul>
      </div>
    </nav>
    <br />
      {% block content %}

      {% endblock content%}
    <script src=" {% static 'asset/js/bootstrap.bundle.min.js '%}"></script>
  </body>
</html>
